:root {
  --color-text-primary: rgb(34, 34, 34);
  --primary-color: #617e86;
  --body-color: rgb(226, 255, 246);
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-text-primary);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
}
.social-media {
  width: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.icon {
  display: inline-block;
  margin: 1rem 0;
  width: 25px;
  height: 25px;
  transition: all 0.4s;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
.icon:hover {
  animation: bounce 0.4s ease;
}
.header {
  background-color: var(--body-color);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.header-svg {
  z-index: 1;
}
.blob-img {
  max-width: 100%;
  max-height: 100vh;
  width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.row {
  max-width: 114rem;
  margin: 0 auto;
  height: 100%;
}
.side {
  width: 50%;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.heading-primary {
  margin-bottom: 3rem;
  font-size: 4.6rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  padding: 1.2rem 3rem;
  border-radius: 4px;
  position: relative;
  transition: all 0.4s;
  z-index: 10;
  text-transform: capitalize;
  letter-spacing: 0.2px;
  font-family: inherit;
  font-size: 1.7rem;
}
.btn:hover {
  color: #fff;
}
.btn::after {
  content: "";
  width: 0%;
  height: 0%;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.4s cubic-bezier(0.84, 0.31, 0.02, 0.99) 0.2s, height 0.2s;
  transform-origin: center;
  z-index: -1;
}
.btn:hover::after {
  width: 100%;
  height: 100%;
}
.header--btn {
  color: var(--primary-color);
}
.ds-bl {
  display: block;
}
.name {
  color: var(--primary-color);
}
/* about me */
.about-me {
  padding: 10rem 0;
  background-color: rgb(255, 255, 255);
}
.margin-bot {
  margin-bottom: 2rem;
}
.heading-secondary {
  font-size: 3.6rem;
}
.about-me__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me__text-box {
  flex-basis: 50%;
  padding: 0 3rem;
}
.about-me__skills {
  flex-basis: 50%;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-box {
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #2c2c2c;
  margin: 3rem;
  width: 160px;
  height: 160px;
  position: relative;
}
.progress-bar {
  width: 160px;
  height: 160px;
  border: 18px solid #eee;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotateZ(-90deg);
}
.skill-svg .circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-dasharray: 472;

  stroke-width: 20px;
}
.skill-txt {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
.about-me .paragraph {
  font-size: 1.8rem;
}
/* cursor */
/* #cursor {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #161515;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
} */
